* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   --color: rgb(175, 43, 19);
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   font-family: 'Montserrat', sans-serif;
   color: rgb(255, 255, 255);
   background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
   font-size: 20px;
}

h1 {
   text-transform: uppercase;
}

nav {
   position: absolute;
   height: 100vh;
   width: 350px;
   left: -350px;
   background-image: linear-gradient(315deg, #bf033b 0%, #ffc719 74%);
   transition: transform .3s;
}

nav ul {
   margin-top: 50px;
   list-style: none;    
}

nav a {
   display: block;
   padding: 10px 30px;
   color: #333;
   text-decoration: none;    
}

nav a:hover {
   font-weight: bold;
}

.burger {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 20px;
   font-size: 36px;
   background: none;
   border: none;
   cursor: pointer;
   color: #fff;
   transition: transform .3s;
}

.active {
   transform: translateX(350px)
}

.hide {
   display: none !important;
}