*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
}

.blue-text {
  color: #039dff;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 0 auto 40px;
  width: 80px;
  height: 4px;
  background-color: #039dff;
}

.scroll-fix::before {
  display: block;
  height: 66px;
  margin-top: -66px;
  content: '';
}

.jumbotron {
  margin: 0;
}

nav {
  text-transform: uppercase;
  -webkit-transition: background-color .6s;
  transition: background-color .6s;
}

nav a, nav i {
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: #039dff;
}

nav i {
  padding: 10px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  padding: 15px;
  text-transform: uppercase;
  font-size: 30px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

header .hero-text p {
  padding: 10px;
  font-size: 14px;
}

header .btn-outline-light {
  text-transform: uppercase;
}

header .fa-chevron-down {
  display: none;
}

header .os-animation {
  -webkit-animation: fadeInDown .8s;
          animation: fadeInDown .8s;
}

#aboutus {
  font-size: 0;
}

#aboutus i {
  margin-top: 20px;
  font-size: 30px;
}

#aboutus h3 {
  text-transform: uppercase;
  font-size: 18px;
}

#aboutus p {
  font-size: 14px;
}

#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

#aboutus .aboutus-hover:hover {
  color: #039dff;
}

#aboutus-hero {
  color: #ddd;
}

#aboutus-hero .jumbotron {
  position: relative;
  padding: 70px 0;
  background-image: url("../img/city.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

#aboutus-hero .about-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

#aboutus-hero i {
  margin-top: 20px;
  font-size: 45px;
}

#aboutus-hero h3 {
  text-transform: uppercase;
  font-size: 22px;
}

#aboutus-hero .about-hero-item {
  margin: 15px 0;
}

#prices .jumbotron {
  height: 100vh;
  background-color: #f9f9f9;
}

#prices .price-wrap {
  max-width: 1920px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

#prices h2 {
  text-transform: uppercase;
}

#prices .price-box {
  margin: 20px 10px;
  padding: 30px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#prices h3 {
  text-transform: uppercase;
  color: #039dff;
}

#prices span {
  font-weight: bold;
}

#prices i {
  padding: 0 5px;
  font-size: 23px;
}

#prices button {
  padding: 10px 20px;
  text-transform: uppercase;
}

#prices .price {
  font-size: 30px;
  font-weight: bold;
}

.price-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.price-text {
  margin-top: 30px;
}

#team .jumbotron {
  position: relative;
  height: 100vh;
  background-image: url("../img/room-hero.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

#team .jumbotron h2 {
  color: #ddd;
}

#team .team-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

#team .card {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

#team .card img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

#team .row {
  margin-left: 0;
  margin-right: 0;
}

.card:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.card-body {
  height: 150px;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
}

#achievements .achievement-list {
  padding: 20px;
}

#achievements .achievement {
  text-align: center;
}

#achievements i {
  padding: 10px;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 5px black;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#achievements i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#achievements .achievement-number {
  font-size: 22px;
}

#achievements .achievement-text {
  font-size: 13px;
  text-transform: uppercase;
}

#contact .jumbotron {
  position: relative;
  background-image: url("../img/contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

#contact .jumbotron h2 {
  color: #ccc;
}

#contact .jumbotron .underline {
  background-color: #ccc;
}

#contact .contact-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 9, 27, 0.7);
  z-index: -10;
}

#contact .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#contact .contact-us .contact-item {
  margin: 15px 0;
}

#contact .contact-us .contact-item h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

#contact .contact-us .social-media {
  font-size: 30px;
}

#contact .contact-us .social-media a {
  padding: 15px;
  color: #fff;
  text-shadow: 0 0 5px black;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#contact .contact-us .social-media a:hover {
  color: #bbb;
}

footer {
  display: block;
  color: #fff;
  font-size: 22px;
}

footer p {
  padding: 20px;
  text-align: center;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header .hero-text p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */