* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   /* display: flex;
   justify-content: center; */
   /* align-items: center; */
   height: 150vh;
   background-color: #333;
   color: #ccc;
   font-family: 'Nunito', sans-serif;
}

.wrapper {
   margin: 15px 50px;
}

.wrapper h1 {
   text-align: center;
   margin-bottom: 15px;
}

.wrapper h2 {
   margin: 20px 0;
}

.wrapper h3 {
   margin: 10px 0;
}

a {
   text-decoration: none;
   color: #ccc;
}